<!-- Login form si no está autenticado -->
<div *ngIf="!authService.isAuthenticated()" class="container min-vh-100 d-flex align-items-center">
  <div class="row justify-content-center w-100">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow">
        <div class="card-header bg-primary text-white text-center shadow-sm">
          <h3 class="my-2 fw-normal">
            Panel de administración - ML SecureBot 🐧🛡️
          </h3>
        </div>
        <div class="card-body">
          <form #loginForm="ngForm" (ngSubmit)="login(username.value, password.value)">
            <div class="mb-3">
              <label class="form-label">
                <i class="bi bi-person me-2"></i>Usuario
              </label>
              <input #username type="text" class="form-control shadow-sm" required>
            </div>
            <div class="mb-3">
              <label class="form-label">
                <i class="bi bi-key me-2"></i>Contraseña
              </label>
              <input #password type="password" class="form-control shadow-sm" required>
            </div>
            <button type="submit" class="btn btn-success w-100 shadow">
              <i class="bi bi-door-open me-2"></i>Ingresar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Mostrar navbar y contenido solo si está autenticado -->
<ng-container *ngIf="authService.isAuthenticated()">
  <app-navbar class="shadow"></app-navbar>
  <router-outlet></router-outlet>
</ng-container>
